<!DOCTYPE html>
<html lang="it" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>TIG | Error</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
    </head>
    <body>
        <div class="container center-text">
            <h1 class="spacer">Errore di Generazione</h1>
            <hr>
            <p><i>{{ error_desc }}</i></p>
            <hr>
            <div class="center-text spacer">
                <button class="btn btn-primary" onclick="history.back()">Indietro</button>
            </div>

        </div>
    </body>
</html>
